body{
    
    background-image: linear-gradient(rgb(30, 127, 218), rgb(181, 211, 247));
     text-align: center;
    }
     h1{
        font-style: oblique;
        font-family: 'Segoe UI';
        size: 55px;
        color :rgb(26, 26, 34)
     }
    
     h2{
        text-align: center;
        border-style: double;
        border-radius: 25px 15px 10px;
  background: #ee17a6; opacity: calc(95%);
  object-position: center;
  
  padding: 20px;
  width: 150px;
  height: 100px;
  


        font-family : Verdana
    font-style: italic;
    size: 40px;
    color :rgb(26, 26, 34)
    }
    
    